/* Style de l'entete ****************************************************************************************************************************/
.entete{
    display: flex;                           /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;                    /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    align-items: center;                   /* Centre verticalement les elements HTML qui compose la flexbox */
    justify-content: center;              /* Centre horizontalement les elements HTML qui compose la flexbox */
    background-color: #18191b;         /* Change la couleur du background grace a la valeur indiqué apres le symbole # */
    font-size: 40px;                    /* Défini la taille de la police */
    font-weight: bold;                 /* Défini la police en gras */
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
}

/* Style des liens ******************************************************************************************************************************/
a{
    text-decoration: none; /* Desactive le soulignement des liens cliquable */
    color: white;       /* Change la couleur du liens cliquable */
}

body{
    background-color: #22252a;
    color: white;
}

/* Style du header **********************************************************************************************/
.header{
    background-color: black;              /* Change la couleur du background en black */
    color: white;                        /* Change la couleur de la police */
    font-weight: bold;                    /* Défini la police en gras */
    font-size: 40px;                     /* Défini la taille de la police */
    text-align: start;                  /* Centre le texte horizontalement */
    font-family: 'Inter', sans-serif;  /* Défini la famille de police */
    display: flex;                    /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;             /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    justify-content: space-between; /* espace les elements qui compose le header */
}

/* Style du deconnexion **********************************************************************************************/
.deconnexion{
    display: flex;          /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;   /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    cursor: pointer;      /* Modifie le curseur au moment du survol de la zone deconnnexion */
}

/* Style de l'affichage des données *************************************************************************************************************/
.affichageDonnees{
    display: flex;                        /* Appelle de la flexbox afin d'ordonner les elements qui la compose */
    flex-direction: row;                 /* Indique que l'alignement des elements HTML qui compose la flexbox doit se faire en ligne horizontal */
    justify-content: space-between;     /* Défini l'espacement de l'affichage des données */
    font-weight: bold;                 /* Défini la police en gras */
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
}

/* Style du footer ******************************************************************************************************************************/
.footer{
    background-color: black;             /* Change la couleur du background en black */
    color: white;                       /* Change la couleur de la police */
    font-size: 24px;                     /* Défini la taille de la police */
    text-align: center;                 /* Centre le texte horizontalement */
    font-family: 'Inter', sans-serif;  /* Défini la famille de police */
}

/* Style du span1 *******************************************************************************************************************************/
.span1{
    font-weight: bold;                 /* Défini la police en gras */
    font-family: 'Inter', sans-serif; /* Défini la famille de police */
    font-size: 24px;                 /* Défini la taille de la police */
}

/* Style Responsive **************************************************************************************************************************/
@media only screen and (max-width:767px){ /* Défini le style responsive pour smartphone */
    .header{
        font-size: 24px; /* Défini la taille de la police */
    }

    .affichageDonnees{
        font-size: 10px; /* Défini la taille de la police */
    }
 }