.entete{
    background-color: #18191B;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    justify-content: center;
}

h1{
    margin-top: 1em;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

.header{
    background-color: #000000;
    color: white;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 0.125em;
    font-family: 'Inter', sans-serif;
}

.bodyCategories{
    background-color: #22252a;
    color: white;
}

.footer{
    background-color: #111111;
    text-align: center;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

.logoReseaux{
    display: flex;
    flex-direction: row;
    height: 4em;
    justify-content: center;
    margin: 2em;
}

.affichageDonnees{
    background-color: #22252a;
    min-width: 200px; 
    min-height: 50px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-between;
}

.affichagePrenom{
    min-width: 200px; 
    min-height: 50px;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 2
}

.affichageDate{
    min-width: 200px; 
    min-height: 50px;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 2;
}

.affichageHeureConnexion{
    min-width: 200px; 
    min-height: 50px;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 2
}

.span1{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

.spanIndex{
    color: #B4B4B4;
    font-size: 2.5em;
}