.entete{
    background-color: #18191B;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    justify-content: center;
}

h1{
    margin-top: 1em;
    font-family: 'Inter', sans-serif;
}

.header{
    background-color: #000000;
    background-size: cover;
    color: white;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 0.125em;
    font-family: 'Inter', sans-serif;
}

.bodyIndex{
    background-image: url(../images/1203697.jpg);
    height: 67em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodyRegister{
    background-image: url(../images/203543.jpg);
    height: 67em;
    background-size: cover;
    padding-top: 2.813em;
}

.bodyLogin{
    background-image: url(../images/metal_gear_solid_ground_zeroes-wallpaper-1920x1080.jpg);
    height: 67em;
    background-size: cover;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.bodyForum{
    background-image: url(../images/609173.jpg);
    height: 67em;
    background-size: cover;
    position: relative;
    z-index: auto;
}

.boutonRegister{
    background-color: #FF3C00;
    color: white;
    border-radius: 6.25em;
    border-color: #FF3C00;
    font-size: 2.5em;
    font-weight: bold;
    width: 10em;
    max-width: 10em;
    max-height: 4.063em;
    margin-left: 8em;
    font-family: 'Inter', sans-serif;
}

.boutonLogin{
    background-color: #FF3C00;
    color: white;
    border-radius: 6.25em;
    border-color: #FF3C00;
    font-size: 2.5em;
    font-weight: bold;
    width: 10em;
    max-width: 10em;
    max-height: 4.063em;
    margin-left: 8em;
    margin-top: 4em;
    font-family: 'Inter', sans-serif;
}

.footer{
    background-color: #111111;
    text-align: center;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

.logoReseaux{
    display: flex;
    flex-direction: row;
    height: 4em;
    justify-content: center;
    margin: 2em;
}

.span1{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

.spanIndex{
    color: #B4B4B4;
    font-size: 2.5em;
}

.span4{
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    font-family: 'Inter', sans-serif;
}

.span5{
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 1.563em;
}

.spanForm{
    color: #303236;
}

.inputRegister{
    background-color: #303236;
    border-radius: 1.25em;
    font-size: 0.938em;
    width: 13.875em;
    height: 2.75em;
    margin-left: 1.875em;
    margin-right: 0.625em;
    margin-top: 0.313em;
}

.inputPrenom{
    background-color: #303236;
    border-radius: 1.25em;
    font-size: 0.938em;
    width: 13.875em;
    height: 2.75em;
    margin-left: 1.875em;
    margin-right: 0.625em;
    margin-top: 0.313em;
    margin-bottom: 1em;
}

.inputmail{
    background-color: #303236;
    border-radius: 1.25em;
    font-size: 0.938em;
    width: 30em;
    height: 2.75em;
    margin-left: 1.875em;
    margin-right: 0.625em;
    margin-top: 0.313em;
    margin-bottom: 1.188em;
}

.lprenom{
    margin-top: 11em;
    margin-left: 14em;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.938em;
}

.lnom{
    margin-left: 2.5em;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.938em;
}

.lemail{
    margin-left: 2.5em;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.938em;
}

.lmdp{
    margin-left: 2.5em;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.938em;
}

.nomPrenomForm{
    display: flex;
    flex-direction: row;
}

.mdpForm{
    display: flex;
    flex-direction: row;
}

.bodyCategories{
    background-color: #22252a;
    color: white;
}

.backgroundFormRegister{
    width: 31.063em;
    height: 28.875em;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 1em;
    border-radius: 1.25em;
}

.spanFormShape{
    display: flex;
    flex-direction: column;
}

.spanForm{
    color: white;
    margin-left: 1em;
    font-size: 0.625em;
    margin-left: 4em;
}

.span6{
    color: white;
    margin-left: 1em;
    margin-bottom: 1em; 
    font-size: 0.75em;
    margin-left: 3.2em;
}

.span11{
    color: white;
    margin-left: 1em;
    font-size: 0.625em;
    margin-left: 4em;
    margin-bottom: 1em;
}

.inputConfirmer{
    background-color: #303236;
    color: white;
    border-radius: 1.25em;
    font-size: 0.938em;
    font-weight: bold;
    width: 13.875em;
    height: 2.75em;
    margin-left: 10em;
    margin-top: 4em;
}

.identify{
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 3em;
}

.inputValider{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    background-color: #59B200;
    color: white;
    width: 8em;
    height: 1.8em;
    border-radius: 0.625em;
    margin-left: 6em;
}

.inputCréerCompte{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    background-color: #59B200;
    color: white;
    width: 13em;
    height: 3em;
    border-radius: 0.625em;
    margin-top: 1.75em;
}

.email2{
    width: 43em;
    height: 6em;
    background-color: #303236;
    margin-left: 9.2em;
    margin-top: 1.5em;
}

.password2{
    width: 43em;
    height: 6em;
    background-color: #303236;
    margin-left: 9.2em;
    margin-bottom: 2.938em;
}

.plusDID{
    margin-top: 11.063em;
}

.plusDID2{
    margin-top: 13.75em;
    margin-left: 30em;
}

.backgroundCategoriesRétro{
    width: 18em;
    height: 13em;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1.25em;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 47.125em;
}

.p1f{
    margin-top: 1em;
}

.p2f{
    margin-top: 1em;
}

.p3f{
    margin-top: 1em;
}

.backgroundCategoriesGuerre{
    width: 18em;
    height: 15em;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1.25em;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.backgroundCategoriesGénéral{
    width: 18em;
    height: 13em;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 1.25em;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 5em;
}

.testposition{
    display: flex;
    margin-top: 5em;
    margin-left: 45em;
}

a{
    text-decoration: none;
}

.messageErreurCompletion{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.messageErreurLongueur{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.messageErreurFormatEmail{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.messageErreurFormatMdp{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.messageErreurSimilariteMdp{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.messageErreurSimilariteInfo{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.messageErreurInfoSaisie{
    display: none;
    font-style: italic;
    color: red;
    text-align: center;
}

.affichageDonnees{
    min-width: 200px; 
    min-height: 50px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-between;
}

.affichagePrenom{
    min-width: 200px; 
    min-height: 50px;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 2
}

.affichageDate{
    min-width: 200px; 
    min-height: 50px;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 2;
}

.affichageHeureConnexion{
    min-width: 200px; 
    min-height: 50px;
    color: white;
    font-size: 24px;
    position: relative;
    z-index: 2
}

@media only screen and (min-width:601px) and (max-width:768px){
    
}

@media only screen and (max-width:600px){

}